<div>
    <div class="grid grid-cols-3">
        <img src="/assets/images/img1.jpg" alt="home" class="w-full h-96 object-cover">
        <img src="/assets/images/img2.jpg" alt="home" class="w-full h-96 object-cover">
        <img src="/assets/images/img3.jpg" alt="home" class="w-full h-96 object-cover">
    </div>
    <div class="grid grid-cols-3">
        <img src="/assets/images/imgH4.jpg" alt="home" class="w-full h-96 object-cover">
        <img src="/assets/images/imgH6.jpg" alt="home" class="w-full h-96 object-cover">
        <img src="/assets/images/imgH5.jpg" alt="home" class="w-full h-96 object-cover">
    </div>

    <div class="grid grid-cols-4">
        <img src="/assets/images/imgA1.jpg" alt="home" class="w-full h-96 object-cover">
        <img src="/assets/images/imgA2.jpg" alt="home" class="w-full h-96 object-cover">
        <img src="/assets/images/imgA3.jpg" alt="home" class="w-full h-96 object-cover">
        <img src="/assets/images/imgA4.jpg" alt="home" class="w-full h-96 object-cover">
    </div>
</div>
    